<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trade Tracker Assessment</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet">
    {% endblock %}
    {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ asset('bundles/app/js/main.js') }}" r></script>
    {% endblock %}

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <a href="/">
                    <h2>Trade Tracker Developer Assessment</h2>
                </a>
            </div>
            {% block form %}
            {% endblock %}
            <div class="table-responsive">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
