{% extends 'AppBundle::layout.html.twig' %}

{% block form %}
    <p>
        <strong>Example Feed Url: </strong>http://pf.tradetracker.net/?aid=1&type=xml&encoding=utf-8&fid=251713&categoryType=2&additionalType=2&limit=100
    </p>
    {{ form(form) }}
    {{ form_errors(form) }}
{% endblock %}
    {% block content %}
        {% if url %}
            <table class='table table-striped table-bordered'>
                <thead>
                <tr>
                    {% set labels = xmlparser.getLabels() %}
                    {% for label in labels %}
                        <th>{{ label }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {{ xmlparser.parse(url) }}
                </tbody>
            </table>
        {% endif %}
    {% endblock %}

