table td {
    word-wrap: break-word;
    min-width: 160px;
    max-width: 160px;
    white-space: normal;
}
.form-group{
    margin-right: 15px;
}
.form-group #feed_feed_url{
    width: 80%;
}
#feed{
    background: whitesmoke;
    padding: 20px;
    margin-bottom: 15px;
}
.morecontent span {
    display: none;
}